extends layout.pug

block scripts
	script(src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js")
	script(src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js")

	script(src="/telepresence-main.js")

	style.
		img { 
		image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
		image-rendering: -moz-crisp-edges;          /* Firefox                        */
		image-rendering: -o-crisp-edges;            /* Opera                          */
		image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
		image-rendering: pixelated;                 /* Chrome                         */
		image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
		-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
		}

block content

	div.text-center
		div.jumbotron.jumbotron-fluid
			h1 Telepresence control
		div.container
			// TODO
			img#screen.img-fluid(src="http://localhost:8080/stream?topic=/telepresence/image")
		div.container
			div.btn-group.btn-group-lg.d-flex
				button.btn.btn-flex.btn-primary#left Left
				button.btn.btn-flex.btn-danger#cancel Cancel goal
				button.btn.btn-flex.btn-primary#right Right
